body {
  background-color: black;
}

h1{
  color: lightgreen;
  font-size: xxx-large;
}

p {
  color: red;
  font-size: large;
}

input {
  width: 40rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  box-shadow: none;
  border: none;
}


.header {
  text-align: center;
  padding: 3rem;
}

.container {
  text-align: center;
  padding: 1rem;
}
