.stock-table {
    margin-top: 2rem;
    color: #10cbe0;
  }
  
  .stock-table thead th {
    border-bottom: 2px solid #10cbe0;
  }
  
  .stock-table tbody tr {
    border-bottom: 1px solid #10cbe0;
  }
  
  .stock-table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  